.baseText {
  font-family: 'Helvetica Neue, Helvetica, Arial, sans-serif';
  font-size: 14px;
  line-height: 100%;
  font-weight: 300;
  margin: 0;
  padding: 0;
  letter-spacing: 0;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.uppercase {
  text-transform: uppercase;
}
