.cartPage {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: 80px;
  min-height: calc(100vh - 80px);
}

.cartMain {
  flex: 1;
}

.cartHeader {
  padding: 16px 0;
  margin-top: 47px;
}

.cartFooterFixed {
  height: 136px;
}
.deleteButton {
  margin-top: auto;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.2s;
}

.deleteButton:hover {
  color: #b30000;
  text-decoration: underline;
}

.cartWrapper {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-top: 48px;
}

.responsiveImageWrapper {
  position: relative;
  width: 160px;
  height: 197px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  overflow: hidden;

  @media (min-width: 768px) {
    width: 262px;
    height: 324px;
  }
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 20px;
}
